In [48]:
import xlsxwriter as xl
import pandas as pd
import tabula


# workbook = xl.Workbook('BillingExport.xlsx')
# worksheet = workbook.add_worksheet()
# writer = pd.ExcelWriter('BillingExport.xlsx', engine='xlsxwriter')

# inOut_Header_Format = workbook.add_format({'bg_color': '#E9B38A',
#                                     'font_color': '#000000'})

# inOut_Input_Format = workbook.add_format({'bg_color': '#F7E4D7',
#                                     'font_color': '#000000'})            

data = [
    ['this', 'is', 'a', 'test'],
    [6, 24, 1, 84, 54, 62, 60, 3, 26, 59],
    [28, 79, 97, 13, 85, 93, 93, 22, 5, 14],
    [27, 71, 40, 17, 18, 79, 90, 93, 29, 47],
    [88, 25, 33, 23, 67, 1, 59, 79, 47, 36],
    [24, 100, 20, 88, 29, 33, 38, 54, 54, 88],
    [6, 57, 88, 28, 10, 26, 37, 7, 41, 48],
    [52, 78, 1, 96, 26, 45, 47, 33, 96, 36],
    [60, 54, 81, 66, 81, 90, 80, 93, 12, 55],
    [70, 5, 46, 14, 71, 19, 66, 36, 41, 21],
]

In [57]:
df = tabula.read_pdf('july10-23.pdf')

df_full = pd.concat([df[0], df[1]], ignore_index=True
            ).dropna(subset='Start'
            ).fillna(method='ffill'
            ).drop(['Notes', 'Project', 'Task', 'Earn Code'], axis=1)

df_full

df_full['Rtime'] = (0.01+(pd.to_datetime(df_full['End']
                        )-pd.to_datetime(df_full['Start'])
                        ).dt.seconds/3600
                        ).round(1)
df_full.style.hide(axis='index').format(precision=1)



# for row, row_data in enumerate(df_full):
#     worksheet.write_row(row+2, 6, row_data)
print(df_full)
dayGroup = df_full.groupby(df_full['Day'])
dayGroup.groups

df2 = dayGroup.get_group('Tue Jul 19')
df2
# df_full.head()

'pages' argument isn't specified.Will extract only from page 1 by default.

           Day     Start       End  Hours            Description  Rtime
1   Mon Jul 11  10:00 AM  12:00 PM    3.5                  Mocap    2.0
2   Mon Jul 11  12:00 PM   1:00 PM    3.5            ITG Meeting    1.0
3   Mon Jul 11   1:00 PM   1:30 PM    3.5                  Mocap    0.5
5   Wed Jul 13   9:30 AM  11:30 AM    2.0           NeoNatal Rig    2.0
10  Mon Jul 18  12:00 PM  12:15 PM    0.3            ITG Meeting    0.3
11  Tue Jul 19  10:30 AM  11:30 AM    3.0               Jov Icon    1.0
12  Tue Jul 19   3:00 PM   5:00 PM    3.0         NeoNatal Model    2.0
13  Wed Jul 20  10:00 AM  11:00 AM    2.5  Neonatal Rig and meet    1.0
14  Wed Jul 20  12:30 PM   2:00 PM    2.5             NeoNatal R    1.5
15  Thu Jul 21  10:00 AM  11:00 AM    3.0               Jov Icon    1.0
16  Thu Jul 21  12:00 PM   2:00 PM    3.0               Spay Rig    2.0
17  Fri Jul 22   9:30 AM  11:30 AM    2.0   Spay Rig and Meeting    2.0

           Day     Start       End  Hours     Description  Rtime
11  Tue Jul 19  10:30 AM  11:30 AM    3.0        Jov Icon    1.0
12  Tue Jul 19   3:00 PM   5:00 PM    3.0  NeoNatal Model    2.0

In [54]:


# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter("pandas_header_format.xlsx", engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object. Note that we turn off
# the default header and skip one row to allow us to insert a user defined
# header.
dayGroup.groups.to_excel(writer, sheet_name='Sheet1', startrow=1, header=False)

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

# Add a header format.
header_format = workbook.add_format({
    'bold': True,
    'text_wrap': True,
    'valign': 'top',
    'fg_color': '#D7E4BC',
    'border': 1})

# Write the column headers with the defined format.
for col_num, value in enumerate(df_full.columns.values):
    worksheet.write(0, col_num + 1, value, header_format)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

AttributeError: 'PrettyDict' object has no attribute 'to_excel'